# Dependencies
node_modules/

# Build output (esbuild bundle + ckb-debugger bytecode)(rebuild with npm run contract)
dist/
*.bc

# Jest
coverage/
*.lcov

# TypeScript
*.tsbuildinfo

# Env / secrets (if you add RPC keys later)
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
